xsd/WCSTATXMLSC.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Fall 2018 Changes
	1. Add code value "WCI" to DataTypeCode list.
-->
<!--© 2018 Workers Compensation Insurance Organizations (WCIO)  -->
<!--W3C XML Schema generated by XMLSpy v2014 rel. 2 (x64) (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="https://www.wcio.org/XML/WCSTAT" targetNamespace="https://www.wcio.org/XML/WCSTAT" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="Address">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Address" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:token">
							<xs:maxLength value="79"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="Street1" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:token">
							<xs:maxLength value="60"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="City" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:token">
							<xs:maxLength value="30"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="State" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:token">
							<xs:maxLength value="2"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="ZipCode" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:token">
							<xs:maxLength value="9"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="addressReference" type="xs:ID"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Submission">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Transmittal"/>
				<xs:element name="Wcstats">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Wcstat" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element ref="Name" minOccurs="0"/>
										<xs:element ref="Address" minOccurs="0"/>
										<xs:element name="CarrierCode" type="xs:token"/>
										<xs:element name="PolicyNumberIdentifier" type="xs:token"/>
										<xs:element name="SeparatedSegmentNumber" type="xs:token"/>
										<xs:element name="ExposureStateCode" type="xs:int"/>
										<xs:element name="PolicyEffectiveDate" type="xs:date"/>
										<xs:element name="ReportLevelCodeReportNumber" type="ReportLevelCodeReportNumber_Type"/>
										<xs:element name="CorrectionSequenceNumberCode" type="CorrectionSequenceNumberCode_Type"/>
										<xs:element name="PolicyExpirationOrCancellationDate" type="xs:date" minOccurs="0"/>
										<xs:element name="RiskIdNumber" type="xs:token" minOccurs="0"/>
										<xs:element name="DcoGeneratedTransactionCode" type="DcoGeneratedTransactionCode_Type" minOccurs="0"/>
										<xs:element name="OriginalAdministrationNumberIdentifier" type="xs:token" minOccurs="0"/>
										<xs:element name="EmployeeLeasingCode" type="EmployeeLeasingCode_Type" minOccurs="0"/>
										<xs:element name="ReplacementReportCode" type="ReplacementReportCode_Type" minOccurs="0"/>
										<xs:element name="BusinessSegmentIdentifier" type="xs:int" minOccurs="0"/>
										<xs:element name="ThirdPartyEntityFederalEmployerIdentificationNumber" type="xs:token" minOccurs="0"/>
										<xs:element name="CorrectionTypeCode" type="CorrectionTypeCode_Type" minOccurs="0"/>
										<xs:element name="StateEffectiveDate" type="xs:date" minOccurs="0"/>
										<xs:element name="FederalEmployerIdentificationNumber" type="xs:token" minOccurs="0"/>
										<xs:element name="SeparatedDate" type="xs:date" minOccurs="0"/>
										<xs:element name="ThreeYearFixedRatePolicyIndicator" type="YesOrNoCode_Type" minOccurs="0"/>
										<xs:element name="MultistatePolicyIndicator" type="YesOrNoCode_Type" minOccurs="0"/>
										<xs:element name="InterstateRatedPolicyIndicator" type="YesOrNoCode_Type" minOccurs="0"/>
										<xs:element name="EstimatedAuditCode" type="EstimatedAuditCode_Type" minOccurs="0"/>
										<xs:element name="RetrospectiveRatedPolicyIndicator" type="YesOrNoCode_Type" minOccurs="0"/>
										<xs:element name="CancelledMidTermPolicyIndicator" type="YesOrNoCode_Type" minOccurs="0"/>
										<xs:element name="ManagedCareOrganizationPolicyIndicator" type="YesOrNoCode_Type" minOccurs="0"/>
										<xs:element name="CertifiedHealthCareNetworkPolicyIndicator" type="YesOrNoCode_Type" minOccurs="0"/>
										<xs:element name="TypeOfCoverageIdCode" type="TypeOfCoverageIdCode_Type" minOccurs="0"/>
										<xs:element name="TypeOfPlanIdCode" type="TypeOfPlanIdCode_Type" minOccurs="0"/>
										<xs:element name="TypeOfNonStandardIdCode" type="TypeOfNonStandardIdCode_Type" minOccurs="0"/>
										<xs:element name="LossesSubjectToDeductibleCode" type="LossesSubjectToDeductibleCode_Type" minOccurs="0"/>
										<xs:element name="BasisOfDeductibleCalculationCode" type="BasisOfDeductibleCalculationCode_Type" minOccurs="0"/>
										<xs:element name="DeductiblePercentage" type="xs:int" minOccurs="0"/>
										<xs:element name="DeductibleAmountPerClaimAccident" type="xs:long" minOccurs="0"/>
										<xs:element name="DeductibleAmountAggregate" type="xs:long" minOccurs="0"/>
										<xs:element name="PreviousReportLevelCodeReportNumber" type="xs:int" minOccurs="0"/>
										<xs:element name="PreviousCorrectionSequenceNumber" type="xs:token" minOccurs="0"/>
										<xs:element name="PreviousCarrierCode" type="xs:token" minOccurs="0"/>
										<xs:element name="PreviousPolicyNumberIdentifier" type="xs:token" minOccurs="0"/>
										<xs:element name="PreviousPolicyEffectiveDate" type="xs:date" minOccurs="0"/>
										<xs:element name="PreviousExposureStateCode" type="xs:int" minOccurs="0"/>
										<xs:element name="PreviousSeparatedSegmentNumber" type="xs:token" minOccurs="0"/>
										<xs:element name="BeepEditBypassCode" type="BeepEditBypassCode_Type" minOccurs="0"/>
										<xs:element name="UnitFormatSubmissionCode" type="UnitFormatSubmissionCode_Type" minOccurs="0"/>
										<xs:element name="Insured" minOccurs="0">
											<xs:complexType>
												<xs:attribute name="nameReference" type="xs:IDREF"/>
												<xs:attribute name="addressReference" type="xs:IDREF"/>
											</xs:complexType>
										</xs:element>
										<xs:element name="Exposures" minOccurs="0">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="Exposure" minOccurs="0" maxOccurs="unbounded">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="ClassificationCode" type="xs:token" minOccurs="0"/>
																<xs:element name="ExperienceModificationFactor" type="xs:decimal" minOccurs="0"/>
																<xs:element name="ExperienceModificationEffectiveDate" type="xs:date" minOccurs="0"/>
																<xs:element name="RateEffectiveDate" type="xs:date" minOccurs="0"/>
																<xs:element name="ExposureAmount" type="xs:decimal" minOccurs="0"/>
																<xs:element name="PremiumAmount" type="xs:long" minOccurs="0"/>
																<xs:element name="ManualChargedRate" type="xs:decimal" minOccurs="0"/>
																<xs:element name="SplitPeriodCode" type="SplitPeriodCode_Type" minOccurs="0"/>
																<xs:element name="RatingTierIdCode" type="xs:int" minOccurs="0"/>
																<xs:element name="UpdateTypeCode" type="UpdateTypeCode_Type" minOccurs="0"/>
																<xs:element name="ExposureActExposureCoverageCode" type="ExposureActExposureCoverageCode_Type" minOccurs="0"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="Losses" minOccurs="0">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="Loss" minOccurs="0" maxOccurs="unbounded">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="ClassificationCode" type="xs:token" minOccurs="0"/>
																<xs:element name="ClaimCount" type="xs:int" minOccurs="0"/>
																<xs:element name="AccidentDate" type="xs:date" minOccurs="0"/>
																<xs:element name="ClaimNumber" type="xs:token" minOccurs="0"/>
																<xs:element name="ClaimStatusCode" type="ClaimStatusCode_Type" minOccurs="0"/>
																<xs:element name="WeeklyWageAmount" type="xs:int" minOccurs="0"/>
																<xs:element name="InjuryCode" type="InjuryCode_Type" minOccurs="0"/>
																<xs:element name="CatastropheNumber" type="xs:int" minOccurs="0"/>
																<xs:element name="IncurredIndemnityAmount" type="xs:long" minOccurs="0"/>
																<xs:element name="IncurredMedicalAmount" type="xs:long" minOccurs="0"/>
																<xs:element name="DateOfRecovery" type="xs:date" minOccurs="0"/>
																<xs:element name="CaseNumberAssignedByState" type="xs:token" minOccurs="0"/>
																<xs:element name="UpdateTypeCode" type="UpdateTypeCode_Type" minOccurs="0"/>
																<xs:element name="LossCoverageActCode" type="LossCoverageActCode_Type" minOccurs="0"/>
																<xs:element name="TypeOfLossCode" type="TypeOfLossCode_Type" minOccurs="0"/>
																<xs:element name="TypeOfRecoveryCode" type="TypeOfRecoveryCode_Type" minOccurs="0"/>
																<xs:element name="TypeOfClaimCode" type="TypeOfClaimCode_Type" minOccurs="0"/>
																<xs:element name="TypeOfSettlementCode" type="TypeOfSettlementCode_Type" minOccurs="0"/>
																<xs:element name="TotalIncurredVocationalRehabilitationAmount" type="xs:long" minOccurs="0"/>
																<xs:element name="JurisdictionStateCode" type="xs:int" minOccurs="0"/>
																<xs:element name="ManagedCareOrganizationTypeCode" type="ManagedCareOrganizationTypeCode_Type" minOccurs="0"/>
																<xs:element name="PartOfBodyCode" type="xs:int" minOccurs="0"/>
																<xs:element name="NatureOfInjuryCode" type="xs:int" minOccurs="0"/>
																<xs:element name="CauseOfInjuryCode" type="xs:int" minOccurs="0"/>
																<xs:element name="OccupationDescription" type="xs:token" minOccurs="0"/>
																<xs:element name="VocationalRehabilitationIndicator" type="YesOrNoCode_Type" minOccurs="0"/>
																<xs:element name="LumpSumIndicator" type="YesOrNoCode_Type" minOccurs="0"/>
																<xs:element name="FraudulentClaimCode" type="FraudulentClaimCode_Type" minOccurs="0"/>
																<xs:element name="PaidIndemnityAmount" type="xs:long" minOccurs="0"/>
																<xs:element name="PaidMedicalAmount" type="xs:long" minOccurs="0"/>
																<xs:element name="ClaimantsAttorneyFeesIncurredAmount" type="xs:long" minOccurs="0"/>
																<xs:element name="EmployersAttorneyFeesIncurredAmount" type="xs:long" minOccurs="0"/>
																<xs:element name="DeductibleReimbursementAmount" type="xs:long" minOccurs="0"/>
																<xs:element name="TotalGrossIncurredAmount" type="xs:long" minOccurs="0"/>
																<xs:element name="PaidAllocatedLossAdjustmentExpenseAmount" type="xs:long" minOccurs="0"/>
																<xs:element name="IncurredAllocatedLossAdjustmentExpenseAmount" type="xs:long" minOccurs="0"/>
																<xs:element name="ScheduledIndemnityPercentageOfDisability" type="xs:int" minOccurs="0"/>
																<xs:element name="YearLastExposed" type="xs:gYear" minOccurs="0"/>
																<xs:element name="TransactionTypeCode" type="TransactionTypeCode_Type" minOccurs="0"/>
																<xs:element name="WorkersSexCode" type="WorkersSexCode_Type" minOccurs="0"/>
																<xs:element name="DeceasedDate" type="xs:date" minOccurs="0"/>
																<xs:element name="ReportedDate" type="xs:date" minOccurs="0"/>
																<xs:element name="BirthDate" type="xs:date" minOccurs="0"/>
																<xs:element name="ClosedDate" type="xs:gYearMonth" minOccurs="0"/>
																<xs:element name="SocialSecurityOffsetIndicator" type="YesOrNoCode_Type" minOccurs="0"/>
																<xs:element name="IncurredCostOfTemporaryIndemnityAmountTotal" type="xs:long" minOccurs="0"/>
																<xs:element name="ScheduledIndemnities" minOccurs="0">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="ScheduledIndemnity" minOccurs="0" maxOccurs="unbounded">
																				<xs:complexType>
																					<xs:sequence>
																						<xs:element name="ScheduledIndemnityPercentageOfDisability" type="xs:int" minOccurs="0"/>
																						<xs:element name="ScheduledIndemnityBodyMemberCode" type="xs:int" minOccurs="0"/>
																						<xs:element name="ScheduledIndemnityNumberOfWeeks" type="xs:int" minOccurs="0"/>
																						<xs:element name="ScheduledIndemnityIncurredLossAmountTotal" type="xs:long" minOccurs="0"/>
																					</xs:sequence>
																				</xs:complexType>
																			</xs:element>
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
																<xs:element name="NumberOfWeeksForTemporaryBenefit" type="xs:int" minOccurs="0"/>
																<xs:element name="NonscheduledIndemnityPercentageDisability" type="xs:int" minOccurs="0"/>
																<xs:element name="NonscheduledIndemnityIncurredLossAmountTotal" type="xs:long" minOccurs="0"/>
																<xs:element name="EmployersLiabilityOrOtherIndemnityAmountIncurred" type="xs:long" minOccurs="0"/>
																<xs:element name="VocationalRehabilitationIncurredAmountTotal" type="xs:long" minOccurs="0"/>
																<xs:element name="PensionIndemnityBenefitsPaidToValuationDateAmount" type="xs:long" minOccurs="0"/>
																<xs:element name="PresentValueOfFutureIndemnityPaymentAmountTotal" type="xs:long" minOccurs="0"/>
																<xs:element name="FuneralAllowanceAmount" type="xs:long" minOccurs="0"/>
																<xs:element name="LumpSumRemarriagePaymentAmount" type="xs:long" minOccurs="0"/>
																<xs:element name="SocialSecurityOffsetAmount" type="xs:long" minOccurs="0"/>
																<xs:element name="PensionIndemnityAmountPreviouslyReservedNotPaid" type="xs:long" minOccurs="0"/>
																<xs:element name="Beneficiaries" minOccurs="0">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="Beneficiary" minOccurs="0" maxOccurs="unbounded">
																				<xs:complexType>
																					<xs:sequence>
																						<xs:element name="BeneficiaryCodeRelationship" type="BeneficiaryCodeRelationship_Type" minOccurs="0"/>
																						<xs:element name="BeneficiaryCodeDependency" type="BeneficiaryCodeDependency_Type" minOccurs="0"/>
																						<xs:element name="BeneficiaryBirthDate" type="xs:date" minOccurs="0"/>
																					</xs:sequence>
																				</xs:complexType>
																			</xs:element>
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
																<xs:element name="WorkersLastName" type="xs:token" minOccurs="0"/>
																<xs:element name="PaidHospitalCostsToValuationDateAmount" type="xs:long" minOccurs="0"/>
																<xs:element name="VocationalRehabilitationIndemnityAmount" type="xs:long" minOccurs="0"/>
																<xs:element name="VocationalRehabilitationTrainingAmount" type="xs:long" minOccurs="0"/>
																<xs:element name="VocationalRehabilitationEvaluationAmount" type="xs:long" minOccurs="0"/>
																<xs:element name="HireDate" type="xs:date" minOccurs="0"/>
																<xs:element name="EmploymentStatusCode" type="EmploymentStatusCode_Type" minOccurs="0"/>
																<xs:element name="PaidTemporaryDisabilityBenefitsToValuationDateAmount" type="xs:long" minOccurs="0"/>
																<xs:element name="PaidPermanentPartialBenefitsToValuationDateAmount" type="xs:long" minOccurs="0"/>
																<xs:element name="PaidVocationalRehabilitationBenefitsToValuationDateAmount" type="xs:long" minOccurs="0"/>
																<xs:element name="PaidPermanentTotalBenefitsToValuationDateAmount" type="xs:long" minOccurs="0"/>
																<xs:element name="PaidDeathBenefitsToValuationDateAmount" type="xs:long" minOccurs="0"/>
																<xs:element name="PaidSingleSumSettlementAmountToValuationDateAmount" type="xs:long" minOccurs="0"/>
																<xs:element name="PaidPhysiciansCostsToValuationDateAmount" type="xs:long" minOccurs="0"/>
																<xs:element name="PaidApplicantsMedicalEvaluationsCostsToValuationDateAmount" type="xs:long" minOccurs="0"/>
																<xs:element name="PaidDefenseMedicalEvaluationsToValuationDateAmount" type="xs:long" minOccurs="0"/>
																<xs:element name="PaidIndependentAgreedMedicalEvaluationsToValuationDateAmount" type="xs:long" minOccurs="0"/>
																<xs:element name="SurgeryCode" type="SurgeryCode_Type" minOccurs="0"/>
																<xs:element name="AttorneyOrAuthorizedRepresentativeCode" type="AttorneyOrAuthorizedRepresentativeCode_Type" minOccurs="0"/>
																<xs:element name="AnnuityPurchaseAmount" type="xs:long" minOccurs="0"/>
																<xs:element name="SingleSumPaidDate" type="xs:date" minOccurs="0"/>
																<xs:element name="DataProviderComments" type="xs:token" minOccurs="0"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="ExposurePayrollTotal" type="xs:long" minOccurs="0"/>
										<xs:element name="SubjectPremiumTotal" type="xs:long" minOccurs="0"/>
										<xs:element name="StandardPremiumTotal" type="xs:long" minOccurs="0"/>
										<xs:element name="ClaimCountTotal" type="xs:int" minOccurs="0"/>
										<xs:element name="IncurredIndemnityAmountTotal" type="xs:long" minOccurs="0"/>
										<xs:element name="IncurredMedicalAmountTotal" type="xs:long" minOccurs="0"/>
										<xs:element name="PaidIndemnityAmountTotal" type="xs:long" minOccurs="0"/>
										<xs:element name="PaidMedicalAmountTotal" type="xs:long" minOccurs="0"/>
										<xs:element name="ClaimantsAttorneyFeesIncurredAmountTotal" type="xs:long" minOccurs="0"/>
										<xs:element name="EmployersAttorneyFeesIncurredAmountTotal" type="xs:long" minOccurs="0"/>
										<xs:element name="PaidAllocatedLossAdjustmentExpenseAmountTotal" type="xs:long" minOccurs="0"/>
										<xs:element name="IncurredAllocatedLossAdjustmentExpenseAmountTotal" type="xs:long" minOccurs="0"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="FileControl">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="UnitReportsSubmittedTotal" type="xs:int" minOccurs="0"/>
							<xs:element name="PrimaryEffectiveYear" type="xs:gYear" minOccurs="0"/>
							<xs:element name="PrimaryEffectiveMonth" type="xs:gMonth" minOccurs="0"/>
							<xs:element name="UnitSubmissionCode" type="UnitSubmissionCode_Type" minOccurs="0"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Name">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="OrganizationName" type="xs:token" minOccurs="0"/>
				<xs:element name="SeparatedNameOfInsured" type="xs:token" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="nameReference" type="xs:ID"/>
		</xs:complexType>
	</xs:element>
	<xs:simpleType name="UnitSubmissionCode_Type">
		<xs:restriction base="xs:token">
			<xs:enumeration value="P"/>
			<xs:enumeration value="T"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AttorneyOrAuthorizedRepresentativeCode_Type">
		<xs:restriction base="xs:int">
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
			<xs:enumeration value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="BasisOfDeductibleCalculationCode_Type">
		<xs:restriction base="xs:int">
			<xs:enumeration value="0"/>
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
			<xs:enumeration value="3"/>
			<xs:enumeration value="4"/>
			<xs:enumeration value="5"/>
			<xs:enumeration value="6"/>
			<xs:enumeration value="7"/>
			<xs:enumeration value="8"/>
			<xs:enumeration value="9"/>
			<xs:enumeration value="10"/>
			<xs:enumeration value="11"/>
			<xs:enumeration value="12"/>
			<xs:enumeration value="13"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="BeneficiaryCodeDependency_Type">
		<xs:restriction base="xs:token">
			<xs:enumeration value="T"/>
			<xs:enumeration value="P"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="BeneficiaryCodeRelationship_Type">
		<xs:restriction base="xs:int">
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
			<xs:enumeration value="3"/>
			<xs:enumeration value="4"/>
			<xs:enumeration value="5"/>
			<xs:enumeration value="6"/>
			<xs:enumeration value="7"/>
			<xs:enumeration value="9"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ClaimStatusCode_Type">
		<xs:restriction base="xs:int">
			<xs:enumeration value="0"/>
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
			<xs:enumeration value="3"/>
			<xs:enumeration value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CorrectionTypeCode_Type">
		<xs:restriction base="xs:token">
			<xs:enumeration value="H"/>
			<xs:enumeration value="E"/>
			<xs:enumeration value="L"/>
			<xs:enumeration value="T"/>
			<xs:enumeration value="M"/>
			<xs:enumeration value="A"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DcoGeneratedTransactionCode_Type">
		<xs:restriction base="xs:int">
			<xs:enumeration value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="EmploymentStatusCode_Type">
		<xs:restriction base="xs:int">
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
			<xs:enumeration value="3"/>
			<xs:enumeration value="4"/>
			<xs:enumeration value="5"/>
			<xs:enumeration value="6"/>
			<xs:enumeration value="7"/>
			<xs:enumeration value="8"/>
			<xs:enumeration value="9"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="EstimatedAuditCode_Type">
		<xs:restriction base="xs:token">
			<xs:enumeration value="Y"/>
			<xs:enumeration value="N"/>
			<xs:enumeration value="U"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ExposureActExposureCoverageCode_Type">
		<xs:restriction base="xs:int">
			<xs:enumeration value="0"/>
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
			<xs:enumeration value="3"/>
			<xs:enumeration value="4"/>
			<xs:enumeration value="5"/>
			<xs:enumeration value="6"/>
			<xs:enumeration value="7"/>
			<xs:enumeration value="8"/>
			<xs:enumeration value="9"/>
			<xs:enumeration value="10"/>
			<xs:enumeration value="11"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="FraudulentClaimCode_Type">
		<xs:restriction base="xs:int">
			<xs:enumeration value="0"/>
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="InjuryCode_Type">
		<xs:restriction base="xs:int">
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
			<xs:enumeration value="3"/>
			<xs:enumeration value="4"/>
			<xs:enumeration value="5"/>
			<xs:enumeration value="6"/>
			<xs:enumeration value="7"/>
			<xs:enumeration value="8"/>
			<xs:enumeration value="9"/>
			<xs:enumeration value="10"/>
			<xs:enumeration value="11"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="LossCoverageActCode_Type">
		<xs:restriction base="xs:int">
			<xs:enumeration value="0"/>
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
			<xs:enumeration value="3"/>
			<xs:enumeration value="4"/>
			<xs:enumeration value="5"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="LossesSubjectToDeductibleCode_Type">
		<xs:restriction base="xs:int">
			<xs:enumeration value="0"/>
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
			<xs:enumeration value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ManagedCareOrganizationTypeCode_Type">
		<xs:restriction base="xs:int">
			<xs:enumeration value="0"/>
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
			<xs:enumeration value="3"/>
			<xs:enumeration value="4"/>
			<xs:enumeration value="5"/>
			<xs:enumeration value="6"/>
			<xs:enumeration value="7"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ReportLevelCodeReportNumber_Type">
		<xs:restriction base="xs:token">
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
			<xs:enumeration value="3"/>
			<xs:enumeration value="4"/>
			<xs:enumeration value="5"/>
			<xs:enumeration value="6"/>
			<xs:enumeration value="7"/>
			<xs:enumeration value="8"/>
			<xs:enumeration value="9"/>
			<xs:enumeration value="A"/>
			<xs:enumeration value="B"/>
			<xs:enumeration value="C"/>
			<xs:enumeration value="D"/>
			<xs:enumeration value="E"/>
			<xs:enumeration value="F"/>
			<xs:enumeration value="G"/>
			<xs:enumeration value="H"/>
			<xs:enumeration value="I"/>
			<xs:enumeration value="J"/>
			<xs:enumeration value="K"/>
			<xs:enumeration value="L"/>
			<xs:enumeration value="M"/>
			<xs:enumeration value="N"/>
			<xs:enumeration value="O"/>
			<xs:enumeration value="P"/>
			<xs:enumeration value="Q"/>
			<xs:enumeration value="R"/>
			<xs:enumeration value="S"/>
			<xs:enumeration value="T"/>
			<xs:enumeration value="U"/>
			<xs:enumeration value="V"/>
			<xs:enumeration value="W"/>
			<xs:enumeration value="X"/>
			<xs:enumeration value="Y"/>
			<xs:enumeration value="Z"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ReserveTypeCode_Type">
		<xs:restriction base="xs:int">
			<xs:enumeration value="0"/>
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
			<xs:enumeration value="3"/>
			<xs:enumeration value="4"/>
			<xs:enumeration value="5"/>
			<xs:enumeration value="6"/>
			<xs:enumeration value="7"/>
			<xs:enumeration value="8"/>
			<xs:enumeration value="9"/>
			<xs:enumeration value="10"/>
			<xs:enumeration value="11"/>
			<xs:enumeration value="12"/>
			<xs:enumeration value="13"/>
			<xs:enumeration value="14"/>
			<xs:enumeration value="15"/>
			<xs:enumeration value="16"/>
			<xs:enumeration value="17"/>
			<xs:enumeration value="99"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="BeepEditBypassCode_Type">
		<xs:restriction base="xs:token">
			<xs:enumeration value="F"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SurgeryCode_Type">
		<xs:restriction base="xs:int">
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TransactionTypeCode_Type">
		<xs:restriction base="xs:int">
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
			<xs:enumeration value="3"/>
			<xs:enumeration value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TypeOfClaimCode_Type">
		<xs:restriction base="xs:int">
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
			<xs:enumeration value="3"/>
			<xs:enumeration value="4"/>
			<xs:enumeration value="5"/>
			<xs:enumeration value="6"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TypeOfCoverageIdCode_Type">
		<xs:restriction base="xs:int">
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
			<xs:enumeration value="3"/>
			<xs:enumeration value="4"/>
			<xs:enumeration value="5"/>
			<xs:enumeration value="9"/>
			<xs:enumeration value="10"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TypeOfLossCode_Type">
		<xs:restriction base="xs:int">
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
			<xs:enumeration value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TypeOfNonStandardIdCode_Type">
		<xs:restriction base="xs:int">
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
			<xs:enumeration value="3"/>
			<xs:enumeration value="4"/>
			<xs:enumeration value="5"/>
			<xs:enumeration value="6"/>
			<xs:enumeration value="7"/>
			<xs:enumeration value="8"/>
			<xs:enumeration value="9"/>
			<xs:enumeration value="99"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TypeOfPlanIdCode_Type">
		<xs:restriction base="xs:int">
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
			<xs:enumeration value="3"/>
			<xs:enumeration value="4"/>
			<xs:enumeration value="5"/>
			<xs:enumeration value="6"/>
			<xs:enumeration value="7"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TypeOfRecoveryCode_Type">
		<xs:restriction base="xs:int">
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
			<xs:enumeration value="3"/>
			<xs:enumeration value="4"/>
			<xs:enumeration value="5"/>
			<xs:enumeration value="6"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TypeOfSettlementCode_Type">
		<xs:restriction base="xs:int">
			<xs:enumeration value="0"/>
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
			<xs:enumeration value="3"/>
			<xs:enumeration value="4"/>
			<xs:enumeration value="5"/>
			<xs:enumeration value="6"/>
			<xs:enumeration value="7"/>
			<xs:enumeration value="8"/>
			<xs:enumeration value="9"/>
			<xs:enumeration value="10"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="UpdateTypeCode_Type">
		<xs:restriction base="xs:token">
			<xs:enumeration value="P"/>
			<xs:enumeration value="R"/>
			<xs:enumeration value="A"/>
			<xs:enumeration value="C"/>
			<xs:enumeration value="D"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="UnitFormatSubmissionCode_Type">
		<xs:restriction base="xs:token">
			<xs:enumeration value="A"/>
			<xs:enumeration value="E"/>
			<xs:enumeration value="S"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="WorkersSexCode_Type">
		<xs:restriction base="xs:token">
			<xs:enumeration value="M"/>
			<xs:enumeration value="F"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="EmployeeLeasingCode_Type">
		<xs:restriction base="xs:token">
			<xs:enumeration value="E"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ReplacementReportCode_Type">
		<xs:restriction base="xs:token">
			<xs:enumeration value="R"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="YesOrNoCode_Type">
		<xs:restriction base="xs:token">
			<xs:enumeration value="Y"/>
			<xs:enumeration value="N"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SplitPeriodCode_Type">
		<xs:restriction base="xs:int">
			<xs:enumeration value="0"/>
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
			<xs:enumeration value="3"/>
			<xs:enumeration value="4"/>
			<xs:enumeration value="5"/>
			<xs:enumeration value="6"/>
			<xs:enumeration value="7"/>
			<xs:enumeration value="8"/>
			<xs:enumeration value="9"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CorrectionSequenceNumberCode_Type">
		<xs:restriction base="xs:token">
			<xs:enumeration value="0"/>
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
			<xs:enumeration value="3"/>
			<xs:enumeration value="4"/>
			<xs:enumeration value="5"/>
			<xs:enumeration value="6"/>
			<xs:enumeration value="7"/>
			<xs:enumeration value="8"/>
			<xs:enumeration value="9"/>
			<xs:enumeration value="A"/>
			<xs:enumeration value="B"/>
			<xs:enumeration value="C"/>
			<xs:enumeration value="D"/>
			<xs:enumeration value="E"/>
			<xs:enumeration value="F"/>
			<xs:enumeration value="G"/>
			<xs:enumeration value="H"/>
			<xs:enumeration value="I"/>
			<xs:enumeration value="J"/>
			<xs:enumeration value="K"/>
			<xs:enumeration value="L"/>
			<xs:enumeration value="M"/>
			<xs:enumeration value="N"/>
			<xs:enumeration value="O"/>
			<xs:enumeration value="P"/>
			<xs:enumeration value="Q"/>
			<xs:enumeration value="R"/>
			<xs:enumeration value="S"/>
			<xs:enumeration value="T"/>
			<xs:enumeration value="U"/>
			<xs:enumeration value="V"/>
			<xs:enumeration value="W"/>
			<xs:enumeration value="X"/>
			<xs:enumeration value="Y"/>
			<xs:enumeration value="Z"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="Transmittal">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="DataProviderContactEMailAddress" type="xs:token" minOccurs="0"/>
				<xs:element name="DataTypeCode" type="DataTypeCode_Type"/>
				<xs:element name="DataReceiverCode" type="DataReceiverCode_Type"/>
				<xs:element name="TransmissionVersionIdentifier" type="xs:token"/>
				<xs:element name="SubmissionTypeCode" type="SubmissionTypeCode_Type"/>
				<xs:element name="SubmissionReplacementIdentifier" type="xs:token" minOccurs="0"/>
				<xs:element name="DataProviderCode" type="xs:token"/>
				<xs:element name="NameOfDataProviderContact" type="xs:token"/>
				<xs:element name="ElectronicOrPaperReceiptCode" type="ElectronicOrPaperReceiptCode_Type" minOccurs="0"/>
				<xs:element name="PhoneNumber" type="xs:token"/>
				<xs:element name="PhoneNumberExtension" type="xs:token"/>
				<xs:element name="FaxNumber" type="xs:token"/>
				<xs:element name="ProcessedDate" type="xs:date"/>
				<xs:element name="AddressOfContactStreet" type="xs:token"/>
				<xs:element name="AddressOfContactCity" type="xs:token"/>
				<xs:element name="AddressOfContactState" type="xs:token"/>
				<xs:element name="AddressOfContactZipCode" type="xs:token"/>
				<xs:element name="DataProviderTypeCode" type="DataProviderTypeCode_Type"/>
				<xs:element name="ThirdPartyEntityFederalEmployerIdentificationNumber" type="xs:token"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:simpleType name="DataTypeCode_Type">
		<xs:restriction base="xs:token">
			<xs:enumeration value="WCA"/>
			<xs:enumeration value="WCC"/>
			<xs:enumeration value="WCE"/>
			<xs:enumeration value="WCF"/>
			<xs:enumeration value="WCG"/>
			<xs:enumeration value="WCI"/>
			<xs:enumeration value="WCL"/>
			<xs:enumeration value="WCM"/>
			<xs:enumeration value="WCN"/>
			<xs:enumeration value="WCO"/>
			<xs:enumeration value="WCP"/>
			<xs:enumeration value="WCR"/>
			<xs:enumeration value="WCS"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DataReceiverCode_Type">
		<xs:restriction base="xs:int">
			<xs:enumeration value="4"/>
			<xs:enumeration value="7"/>
			<xs:enumeration value="20"/>
			<xs:enumeration value="21"/>
			<xs:enumeration value="22"/>
			<xs:enumeration value="29"/>
			<xs:enumeration value="31"/>
			<xs:enumeration value="32"/>
			<xs:enumeration value="37"/>
			<xs:enumeration value="48"/>
			<xs:enumeration value="99"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SubmissionTypeCode_Type">
		<xs:restriction base="xs:token">
			<xs:enumeration value="R"/>
			<xs:enumeration value="S"/>
			<xs:enumeration value="T"/>
			<xs:enumeration value="V"/>
			<xs:enumeration value="W"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ElectronicOrPaperReceiptCode_Type">
		<xs:restriction base="xs:token">
			<xs:enumeration value="E"/>
			<xs:enumeration value="P"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DataProviderTypeCode_Type">
		<xs:restriction base="xs:token">
			<xs:enumeration value="C"/>
			<xs:enumeration value="D"/>
			<xs:enumeration value="T"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
